/* 마이페이지 */
/* 정렬 */
.my-page {
  float: left;
  margin-right: 50px;
  margin-top: 100px;
}
/* 메뉴 타이틀 */
.my-page-title {
  width: 250px;
  height: 100px;
  background-color: #FFEBCC; /* 헤더와 비슷한 색상으로 변경 */
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  border: 1px solid #e8e2e2;
}

/* 첫번째 메뉴 */
.my-page-menu {
  box-sizing: border-box;
  width: 250px;
  height: 60px;

  background: #ffffff;
  border: 1px solid #e7e7e7;
  list-style: none;

  text-align: center;
  line-height: 60px;
  color: black;
}
/* 첫번째 메뉴 링크 */
.my-page-menu > a {
  color: black;
  text-decoration: none;
  display: block;
}
.my-page-menu :hover {
  color: #666666;
}

/* 나머지 메뉴 */
.my-page-menu2 {
  box-sizing: border-box;
  width: 250px;
  height: 60px;

  background: #ffffff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e7e7;

  text-align: center;
  line-height: 60px;
  color: black;
}
/* 나머지 메뉴 링크 */
.my-page-menu2 > a {
  color: black;
  text-decoration: none;
  display: block;
}
.my-page-menu2 :hover {
  color: #666666;
}

/* 마이페이지 타이틀 박스 */
.mp-page-top {
  margin-top: 100px;
}
.mp-title-box {
  background-color: rgb(246, 246, 246);
  height: 150px;
  margin-top: 15px;
}
/* 마이페이지 회원 */
#mp-box-name {
  font-size: 25px;

}
/* 첫번째 타이틀 박스 */
/* 첫번째 타이틀 : 버튼 */
.mp-btn {
  background-color: transparent;
  border: 0;
}


/* 마이페이지 타이틀 박스 (일부 리뷰활동과 공유) */
ul,
li,
ol {
  list-style-type: none;
}

/* 주문정보, 리뷰활동의 첫번째 div (범위지정)*/
.myInfoWrap {
  height: 200px;
  width: 800px;
  float: left;
}
/* 주문정보, 리뷰활동의 title 부분(제목) 범위, display 설정 */
.mypageTitle {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
/* 주분정보, 리뷰활동의 title 부분 폰트크기,색 지정 */
.mypageTitle .title {
  font-size: 18px;
  color: rgb(51, 51, 51);
  margin-top: 50px;
}
/* 주문정보, 리뷰활동의 p태그(오른쪽 최근 15일,오늘 기준) 폰트크기 */
.mypageTitle p {
  font-size: 13px;
  margin-top: 50px;
}
/* 주문정보 2번째 div */
.orderInfoBox {
  margin-top: 17px;
  padding: 12px 0px;
  background: rgb(246, 246, 246);
  border-radius: 3px;
}
/* 주문정보 내의 li 설정 */
.orderInfoBox li {
  display: inline-block;
  width: 25%;
  font-size: 15px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 리뷰 박스 */

/* 리뷰 박스안의 내용(a태그) 설정 -> 다른 a태그와 겹칠수 있음 */
/* 현재 a태그의 display: inline-block, color 태그가 안먹음 -> 다른 설정에 밀린듯   */
.review-a {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(51, 51, 51);
  -webkit-tap-highlight-color: transparent;
}

/* 현재 작성가능한 리뷰에 0건 부분 -> HTML에 count 걸어놨고 함수 넣을때 구매한건수마다 1건씩 늘어나게*/
.orderInfoBox.review li .count {
  display: block;
  margin-top: 6px;
}
/* <strong> 0 <strong> 부분에 줄바꿈 넣어줌*/
.orderInfoBox li strong {
  display: block;
  margin-bottom: 13px;
  font-size: 19px;
  color: rgb(51, 51, 51);
}
/* 위부분과 연동해 줄바꿈 */
.orderInfoBox.review li .count strong {
  display: inline-block;
  vertical-align: 0px;
  margin-bottom: 0px;
}
/* li 부분 반반씩 범위 구분 */
.orderInfoBox.review li {
  width: 50%;
}

