#product-top {
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-select {
  list-style: none;
  margin-bottom: 0px;
}

#title {
    margin-bottom: 30px;
}

#option-text {
    margin-bottom: 10px;
}

.select-box {
    width: 450px;
    height: 50px;
    appearance: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

#count-text {
    margin-bottom: 10px;
}

#count-box {
    margin-bottom: 30px;
}

#price {
    margin-bottom: 30px;
}

#coupon-text {
    margin-bottom: 10px;
}

#download-button {
    width: 150px;
    border-color: black;
    background-color: black;
    color: white;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 30px;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#basket-button {
    width: 160px;
    border-color: red;
    background-color: red;
    color: white;
    height: 64px;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 20px;
}

#buy-button {
    width: 160px;
    border-color: blue;
    background-color: blue;
    color: white;
    height: 64px;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 20px;
}

.link-design {
    font-weight: 600;
}

#bottom-tap {
    border: 1px solid;
    height: 80px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-bottom {
    margin-bottom: 100px;
}

#product-review {
    margin-bottom: 5px;
}

#review-button {
    margin-bottom: 100px;
    text-align: end;
}

#reviewModal {
    text-align: start;
}

#product-qna {
    margin-bottom: 5px;
}

.qna-link {
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    display: block;
}

#qna-button {
    margin-bottom: 100px;
    text-align: end;
}

#qnaModal {
    text-align: start;
}